h2 {
  padding-top: 3%;
  padding-bottom: 2%;
}
.cr1 {
  background-color: bisque;
}
.r1 {
  background-color: bisque;
  align-items: center;
  width: 10px;
}
.kanan {
  margin-left: 36%;
}
.input2 {
  margin-top: 2px;
}
.har {
  margin-bottom: 21%;
}
.chs {
  margin-left: 20%;
}
.input3 {
  margin-left: 17%;
  margin-top: 8px;
}
.prm {
  margin-top: 5%;
  margin-left: 41%;
}

.r2 {
  margin-top: 8px;
}
