.carousel-item {
  height: 500px;
}

.navbar {
  background-color: #269fd2;
}
.btn {
  background-color: #269fd2;
}

footer {
  background-color: #269fd2;
  height: 50px;
  padding: 15px;
}

img {
  opacity: 70%;
}

#footer {
  color: aliceblue;
}

.fas {
  width: 34px;
  height: 28px;
  color: aliceblue;
}

.carousel-caption {
  bottom: 190px;
}
.color {
  color: black;
}

.carousel-caption h5 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: 900;
}

.img1 {
  background-image: url(../Img/sepatu4.jpg);
}
.card {
  height: 400px;
}
.card-title {
  margin-top: 260px;
}
#btn {
  margin-top: 10px;
  margin-left: 55px;
}
.fas {
  margin-top: 16px;
}
.fa-shopping-cart {
  margin-left: 20px;
}
