.carousel-item {
  height: 500px;
}

.navbar {
  background-color: #269fd2;
  list-style-type: none;
  overflow: hidden;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.btn {
  background-color: #269fd2;
}

footer {
  background-color: #269fd2;
  height: 50px;
  bottom: 0;
  width: 100%;
  position: fixed;
  line-height: 50px;
  padding-left: 2px;
  margin-top: 10px;
  margin-right: 20px;
  padding-bottom: 20px;
}

img {
  opacity: 70%;
}

#footer {
  color: aliceblue;
}

.fas {
  width: 32px;
  height: 22px;
  color: aliceblue;
}
.fr {
  margin-top: 5px;
}

.carousel-caption {
  bottom: 190px;
}
.color {
  color: black;
}

.carousel-caption h5 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: 900;
}

.img1 {
  background-image: url(../Img/bn1.jpg);
}
.img2 {
  background-image: url(../Img/bn2.jpg);
}
.img3 {
  background-image: url(../Img/bn3.jpg);
}
.img4 {
  background-image: url(../Img/bn4.jpg);
}
.img5 {
  background-image: url(../Img/bn5.jpg);
}
.card {
  height: 400px;
  margin-bottom: 50px;
}
.card-title {
  margin-top: 260px;
}
#btn {
  margin-top: 10px;
  margin-left: 55px;
}

.fa-shopping-cart {
  margin-left: 20px;
}
