#judul {
  text-align: left;
  font-size: 20pt;
  margin-left: 50px;
}
.all {
  background-color: aqua;
  height: 40px;
}
.n {
  width: 50%;
}
.p {
  width: 10px;
  margin-left: 10px;
}
.t {
  margin-right: 20px;
}
.r {
  margin-left: 10px;
}

.foto {
  width: 100px;
  height: 295px;
}

.jarak {
  margin-top: 30px;
}
